*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #eeeeee;
}

header{
  height: 60px;
  border-top: 5px solid lightgrey;
  background-color: white;
}

.logo{
  vertical-align: middle;
  width: 50px;
  height: auto;
  margin-left: 3%;
}

#name-logo{
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}

main{
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 5%;
}

button{
  font-size: 10px;
  margin-left: 5px;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 65px;
  line-height: 30px;
  vertical-align: middle;
}

button[class$="task"]{
  border-radius: 7px;
}

.add-task{
  background-color: lightblue;
}

.section-task{
  background-color: white;
  color:lightgrey;
}

.container{
  background-color: white;
  padding:25px;
  border-radius: 5px
}

.navigatore{
  margin-bottom: 4px;
  padding-top:10px;
  padding-left: 20px;
  background-color: white;
  height: 50px;
  border-radius: 5px;
}

section{
  background-color: white;
  margin-top: 20px;
}

li{
  margin-bottom: 20px;
  list-style-type: none;
}

.title{
  margin-bottom: 5px;
  font-weight: bold;
}

.blue{
  background-color: blue;
}

.orange{
  background-color: orange;
}

.violet{
  background-color: violet;
}

.purple{
  background-color: purple;
}

.light-green{
  background-color: lightgreen;
}

.green{
  background-color: green;
}

.mark, .cross{
  display: inline-block;
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}
